@charset "UTF-8";

/*
Media Queries

pequenas telas: < 600px;
celulares: 600px - 767px;
tablets: 768px - 991px;
computador: 992px - 1199px;
grandes telas: > 1200px;
*/


/*Impressora*/

@media print {
    
}

/*Telas Maiores*/

@media screen and (min-width: 768px) {
    section#principal h1 {
        text-align: center;
    }    

}

/*Tablets*/

@media screen and (min-width: 768px) and (max-width: 991px) {
    section#principal {
        width: calc(100vw - 280px);
    }

    main > section#redes {
        border-radius: 20px;
        border: 1px solid var(--cor01);
        background-color: var(--cor04);
        right: 0px;
    }
}

/*Computadores*/

@media screen and (min-width: 992px) and (max-width: 1299px) {
    section#principal {
        width: 70vw;
        max-width: 800px;
        margin-left: calc(30vw - 250px);
    }

    main > section#redes {
        position: absolute;
        top: 170px;
        background-color: var(--cor05);
        right: 0px;
    }
}

@media screen and (min-width: 1300px) {
    section#principal {
        max-width: 800px;
        margin: auto;
    }

    main > section#redes {
        position: absolute;
        top: 170px;
        background-color: var(--cor05);
        right: 0px;
    }
}